.transactionHistory {
    width: 400px;
    margin: 0 auto 40px auto;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 0px 0px 2px #000;
    overflow: hidden;
}

thead {
    background-color: rgb(144, 167, 181);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(227, 234, 238);
}

tr {
    height: 40px;
}

tbody tr td:first-child {
    text-transform: capitalize;
}

td {
    text-align: center;
}
